@reference "./tailwind.css";

/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

/* Code title styles */
.remark-code-title {
  @apply rounded-xs bg-gray-700 px-5 py-3 font-mono text-sm font-bold text-gray-200 dark:bg-gray-800;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

/* Code block styles */
.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply -mx-4 block border-l-4 border-transparent pr-4 pl-4;
}

.code-line.inserted {
  @apply bg-green-500/20;
}

.code-line.deleted {
  @apply bg-red-500/20;
}

.highlight-line {
  @apply border-primary-500 -mx-4 border-l-4 bg-gray-700/50;
}

.line-number::before {
  @apply mr-4 -ml-2 inline-block w-4 text-right text-gray-400;
  content: attr(line);
}

/* Token styles - Smoky Rose inspired (Rose Pine based) */
/**
 * Warm and muted color scheme that matches the Smoky Rose theme
 */
.token.comment,
.token.prolog,
.token.cdata {
  color: #9893a5;
  font-style: italic;
}

.token.punctuation {
  color: #908caa;
}

.namespace {
  color: #c4a7e7;
}

.token.deleted {
  color: #eb6f92;
  font-style: italic;
}

.token.symbol,
.token.property {
  color: #9ccfd8;
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ebbcba;
}

.token.boolean {
  color: #eb6f92;
}

.token.number {
  color: #f6c177;
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: #c4a7e7;
}

.token.selector,
.token.doctype {
  color: #c4a7e7;
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: #9ccfd8;
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: #f6c177;
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: #ea9a97;
}

.token.regex,
.token.important,
.token.variable {
  color: #e0def4;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.table {
  display: inline;
}
